<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменение книг</title>
    <script src="/change_book.js"></script>
</head>
<body>
<select id="books-list" onchange="choose_select(this)">
    <option selected disabled hidden>Выберите событие которое хотите изменить</option>
</select>
<br>
<form method="post" action="/api/books/update">
    <input type="text" id="id" name="books-id" hidden>
    <input type="text" placeholder="Название книги" id="name" name="book-name">
    <input type="text" placeholder="Жанр" id="genre" name="book-genre">
    <input type="text" placeholder="Кто взял" id="took" name="book-took">
    <input type="text" placeholder="Кто взял" id="returned" name="book-returned">
    <input type="checkbox" id="delete" name="books-delete"> удалить?
    <br>
    <button type=submit>Обновить</button>
</form>
<button type="button" onclick="window.location.href = '/'">⬅</button>
</body>
</html>