<!DOCTYPE html>
<html>
<head>
    <title>book cataloger</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/main.js"></script>
</head>
<body>
<table id="books">
    <tr>
        <th>Название</th>
        <th>Жанр</th>
        <th>Кто взял</th>
        <th>Кто вернул</th>
    </tr>
</table>
<button type="button" onclick="window.location.href = '/add'">добавить</button>
<button type="button" onclick="window.location.href = '/update'">изменить</button>
</body>
</html>